<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="WGU_Database"
			 connectionString="server=wgudb.ucertify.com;
				port=3306;
				database=U05KQC;
				user=U05KQC;
				password=53688527502;
				treattinyasboolean=true;"/>
	</connectionStrings>
</configuration>